/* general style for all page */
body {
	width: 2011px;
	font-family: Roboto
	background-color: #EEEEEE;
}

/* upper banner */
div.background_ppc {
	width: 2011px;
	background-color: #007765;
	padding: -10px;
	margin: -10px;
	display: inline-block;
	position: fixed;
	height: 84px;
	}
/*upper banner's logo and navigation panel*/
.small_logo {
	float: left;
	margin-left: 210px;
	margin-top: 20px;
}

.upper_nav {
	float: left;
	margin-left: 500px;
	margin-top: 24px;
	font-size: 24px;
}